*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 62.5%;
}

h3 {
  font-family: "Avenir LT Std 55 Roman", sans-serif;
  font-size: 3.6rem;
}
